<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>title test</title>
</head>
<body title="body title">
<p title="p title">
	paragraph text <img src="image.png" alt="img alt">
	<a href="url" title="a title">a text</a>
</p>
<div title="div title">
	<object data="url" type="image/jpeg" standby="object standby">object content</object>
</div>
<form action="post">
<div>
	<map name="map">
		<area coords="0,0,1,1" href="url" alt="area alt">
	</map>
	<input type="text" name="text" value="input text value">
	<input type="password" name="password" value="input password value">
	<input type="checkbox" name="checkbox" value="input checkbox value">
	<input type="radio" name="radio" value="input radio value">
	<input type="submit" value="input submit value">
	<input type="reset" value="input reset value">
	<input type="button" name="button" value="input button value">
	<table summary="table summary"><tr><th abbr="th abbr">th content</th>
	<td abbr="td abbr">
	<input type="submit" name="submit2" value="input submit 2 value">
	<input type="reset" name="reset2" value="input reset 2 value">
	<input type="button" name="button2" value="input button 2 value">
	</td></tr></table>
	<input type="submit" name="submit3" value="input submit 3 value" flexy:ignore>
	<input type="reset" name="reset3" value="input reset 3 value" flexy:ignore>
	<input type="button" name="button3" value="input button 3 value" flexy:ignore>
	<input type="file" name="file" title="input file title">
	<input type="hidden" name="hidden" value="input hidden value">
	<input type="image" src="image.png" alt="input image alt">
	<select name="select" title="select title" flexy:ignore>
		<optgroup label="optgroup label" title="optgroup title">
			<option>option content</option>
			<option value="option 2 value">option 2 content</option>
			<option label="option 3 label">option 3 content</option>
		</optgroup>
	</select>
	<button value="button value">button content</button>
</div>
</form>